/* Own header*/
.DomainHeader{
    display: table;
    margin: 0px auto;
    font-family: 'Arial', sans-serif;
  	font-size: 16px;
  	text-transform: uppercase;
  	height: 60px;
}
.LoginOnHeader{
    line-height:0;
    display: inline-block;
}

.LoginOnHeader p{
     margin-top: 0;
}
.LoginOnHeader a{
    /* padding-top: 5px; */
}
.RightSideOnHeader{
    position: absolute;
    right: 5px;
    top: 20px;
    display: inline-block;
}

.mainLogo{
    height:50px;
}

/* Instapage header */

.SchoolHeaderParent{
    width: 100%; 
    height: auto;
    left: auto;
    top: auto;
    background: rgba(255, 255, 255, 0.8);
}
.LogoHolderOnHeader{
    position: absolute;
    left: 5px;
    top: 5px;
    clip: rect(0px,50px,50px,0px);
}

.RightSideOnHeader{
   /* float: right; */
   /* margin-top: 15px; */
   /* display: inline-flex; */
}

.dropdown-content{ 
     width: 225px; 
     text-align: left;
     font-size: 23px;
}

.dropdown-content p{
     line-height: 40px;
     margin-bottom: 0;
     margin-top: 0;
}

.menu{
  	display: block;
  	float: left;
  	overflow: hidden;
  	//padding-right: 100px;
}
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none outside none;
    margin:0;
    padding: 0;
    text-align: center;
}
.menu li:before {
    content:'';
    display:inline-block;
    height:100%;
    vertical-align:middle;
}
.menu li {
    float: left;
//    margin: 0 0px;
    display: inline;
}

.menu li a {
    display: block;
    color: #7d7d7d;
    text-align: center;
    padding-bottom: 6px;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
}

.menu li a:hover {
    //color: white;
}

.MenuItemHolderOnHeader {
     display:none;
     padding: 1px 200px;
}

.MenuInline{
      list-style-type: none;
}

.LoginOnHeader{
      /* padding: 14px 10px 0 10px; */
}

.ownHeader .LoginOnHeader.auth{
      /* padding: 26px 10px 0 10px; */
}

.LoginOnHeader p{
     /* font-size:20px; */
}

.LoginButtonOnHeader{
      cursor: Pointer;
      vertical-align:middle;
}
.LoginButtonOnHeader img{
      vertical-align:middle;
      padding-left:5px;
      display: none;
}

.LoginButtonOnHeader:hover {
    text-decoration: none;
    color: white;
}


.LogInDialogOpenButton{
       cursor: Pointer;
      text-decoration: none;
}


/*  HAMBURGER MENU */

.HamburgerOnHeader {
    display: none;
}

.c-hamburger {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 40px;
  height: 40px;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
}

.c-hamburger:focus {
  outline: none;
}

.c-hamburger span {
  display: block;
  position: absolute;
  top: 18px;
  left: 9px;
  right: 9px;
  height: 4px;
  border-radius: 25px;
  background: white;
}

.c-hamburger span::before,
.c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #fff;
  content: "";
  border-radius: 25px;
}

.c-hamburger span::before {
  top: -8px;
}

.c-hamburger span::after {
  bottom: -8px;
}

.c-hamburger--rot {
  background-color: #731111;
}

.c-hamburger--rot span {
  transition: transform 0.3s;
}

/* active state, i.e. menu open */
.c-hamburger--rot.is-active {
  background-color: #a6160c;
}

.c-hamburger--rot.is-active span {
  transform: rotate(90deg);
}

/*  Menu element */

.dropdown {
    padding-right: 10px;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    right: 11px;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    text-decoration: none;
    text-align: center;
    z-index:999;
}
.dropdown-content p{
    margin:7px;
}
.dropdown-content p a{
    text-decoration: none;
}

.dropdown-content p:hover{
    background-color: #a6160c;
    color:white;
}

.dropdown-content a:hover {
    text-decoration: none;
}

@media screen and (min-width: 1150px) {		
.dropdown{display:none;}
}
@media screen and (max-width: 1150px) {		
.menu{display:none;}
}

@media screen and (max-width: 975px) {		
.page.page2 .block-inner{
  width:100%;
}
.dropdown {
    padding-right: 0px;
    padding-top: 10px;
    display: inline-block;
}

.SchoolHeaderParent{
    opacity: 0;
}
}

@media screen and (max-width: 620px) {	
.LoginOnHeader{
  display:none;
}
.ownHeader .LoginOnHeader{
    display: none;
}
}

@media screen and (max-width: 400px) {	
.LogoHolderOnHeader{
     width: 75%;
     padding: 0px 0px 0px 0px;
}
.LogoHolderOnHeader{
     width: 50%;
     height: 50%;
     //margin-right: 75px;
}
.mainLogo{
     /* width: 80%; */
}
.RightSideOnHeader {
    float: right;
    margin-top: 0;
    margin-right: 0em;
}
}

@media screen and (max-width: 370px) {	
.RightSideOnHeader {
    float: right;
    margin-top: 0;
    margin-right: 4em;
}
.RightSideOnHeader {
    margin-right: 0em;
}
}

@media screen and (max-width: 350px) {	
.RightSideOnHeader {
    float: right;
    margin-top: 0;
    margin-right: 2em;
}
.ownHeader .RightSideOnHeader {
    margin-right: 0em;
}
}