body{
 font-family: arial;
 margin:0;
}
.ownHeader{background-color: white;}  
.ownFooter{
  text-align: left;
  background-color: white;
}

.validation-summary-errors{
    text-align: center;
    color: red;
    font-size: 22px;
}
.validation-summary-errors li{
   list-style:none;
}

.formcontainer{
      text-align: center;
}